<p class="id_{{ field.name }}">
    <label for="id_{{ field.name }}"
           {% if field.label_style %}style="{{ field.label_style }}"{% endif %}>
        {{ field.verbose_name }}
    </label>
    <input type="{{ field.type }}" autocorrect="off" autocapitalize="off" spellcheck="false" id="id_{{ field.name }}" name="{{ field.name }}" class="input {% if class_names %}{{ class_names }}{% endif %}" value="{{ data[field.name] }}"{% if field.style is defined %} style="{{ style }}"{% endif %}{% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %}/>
</p>
{% if field.help_text %}
    <p class="helptext">{{ field.help_text }}</p>
{% endif %}
