<textarea id="id_{{ field.name }}" name="{{ field.name }}" placeholder="Write something..." class="textarea {% if class_names %}{{ class_names }}{% endif %}"
        {% if field.style %} style="{{ style }}" {% endif %} >{{ data[field.name] }}</textarea>
{% if field.help_text %}
    <p class="helptext">{{ field.help_text }}</p>
{% endif %}
