
<div class="container pt-m">

    {% include "account/games/manage-game/breadcrumbs.twig" %}

    <div class="flex is-wrapping pt-l">

        <div class="column is-3 is-fullwidth-mobile">

            {% include "account/games/manage-game/side-nav.twig" %}

        </div>

        <div class="column is-9 is-fullwidth-mobile">

            {% include 'account/games/manage-game/blocks/game-build-notice.twig' %}

            <div class="sheet">
                <div class="sheet-title">
                    <h3 class="title is-2 is-bold">{% t "Custom Game Asset" %}</h3>
                    <p class="admin-desc">
                        Manage settings for custom game asset slug: <strong>{{ custom_game_asset_link.slug }}</strong>.
                    </p>
                </div>
                {% if update_channel != 'live' %}
                    <div class="sheet-content p-l">
                        <form method="post" action="{{ path }}?game_build_id={{ game_build.getPk() }}" data-esc-ajax-form="json">
                            {{ form|raw }}
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="sheet">
                <div class="sheet-title">
                    <h3 class="title is-2 is-bold">{% t "Custom Game Asset Files" %}</h3>
                    <p class="admin-desc">
                        Manage files for custom game asset slug: <strong>{{ custom_game_asset_link.slug }}</strong>.
                    </p>
                </div>
                <div class="sheet-content p-l">
                    {% if update_channel != 'live' and not game_build.is_published() %}
                        <p class="admin-desc is-fullwidth">
                            <a href="{{ game.edit_url }}/{{ update_channel }}/upload-custom-game-asset/{{ custom_game_asset_link.slug }}/?game_build_id={{ game_build.getPk() }}" data-esc-fancybox="default" class="button is-primary" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="edit-custom-game-asset" data-esc-tracking-element="upload-file">Upload New Asset File</a>
                        </p>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Type</th>
                            <th>File Size</th>
                            <th>Creator</th>
                            <th>Create Time</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game_asset_history in game_assets %}
                            <tr>
                                <td>{{ game_asset_history.filename }}</td>
                                <td>{{ game_asset_history.extension }} ({{ game_asset_history.mime_type }})</td>
                                <td><span data-esc-tooltip="{{ game_asset_history.file_size }} bytes">{{ game_asset_history.file_size|filesize }}</span></td>
                                <td>{% if game_asset_history.user.username %}{{ game_asset_history.user.username }}{% else %}{{ game_asset_history.user.email_addres }}{% endif %}</td>
                                <td>{{ game_asset_history.local_create_time|long_date_format }}</td>
                                <td>
                                    {% if custom_game_asset_link.context_x_game_asset_id == game_asset_history.custom_game_asset_id %}
                                        {{ 1|bool|raw }}
                                    {% else %}
                                        {{ 0|bool|raw }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ game.edit_url }}/{{ update_channel }}/download-custom-game-asset-file/{{ game_asset_history.slug }}/{{ game_asset_history.custom_game_asset_id }}?game_build_id={{ game_build.getPk() }}" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="text-link" data-esc-tracking-context="edit-custom-game-asset" data-esc-tracking-element="download-file">Download</a>
                                    {% if custom_game_asset_link.context_x_game_asset_id != game_asset_history.custom_game_asset_id %}
                                        {% if update_channel != 'live' %}
                                            | <a href="{{ game.edit_url }}/{{ update_channel }}/set-custom-asset-active/{{ game_asset_history.slug }}/{{ game_asset_history.custom_game_asset_id }}?game_build_id={{ game_build.getPk() }}" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="edit-custom-game-asset" data-esc-tracking-element="set-file-active">Set Active</a>
                                            {#| <a href="{{ game.edit_url }}/{{ update_channel }}/delete-custom-game-asset-file/{{ game_asset_history.slug }}/{{ game_asset_history.custom_game_asset_id }}" data-esc-fancybox="default">Delete</a>#}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>


