<div class="column is-12">
    <div class="sheet">
        <div class="sheet-title">
            <h3 class="title is-2 is-bold">{% t "Game Controllers" %}</h3>
            <p class="admin-desc">
                View all applicable game controllers
            </p>
        </div>

        {% if update_channel != 'live' and not game_build.is_published() %}
            <div class="admin-inputs">
                <a href="{{ game.edit_url }}/{{ update_channel }}/upload-game-controller/{{ game_build.game_build_id }}/" data-esc-fancybox="default" class="button is-primary" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="cta-button" data-esc-tracking-context="edit-game-build" data-esc-tracking-element="upload-game-controller">Upload Game Controller</a>
            </div>
        {% endif %}
        <div class="sheet-content p-l">
            <table class="table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Files</th>
                    <th>Total Size</th>
                </tr>
                </thead>
                <tbody>
                {% for game_controller in game_build.game_controllers %}
                    <tr>
                        <td>{{ game_controller.display_name }}</td>
                        <td><a href="{{ game.edit_url }}/{{ update_channel }}/view-game-controller/{{ game_controller.game_controller_id }}" data-esc-tracking-service="mixpanel" data-esc-tracking="clicked" data-esc-tracking-content-type="text-link" data-esc-tracking-context="edit-game-build" data-esc-tracking-element="edit-game-controller">{{ game_controller.game_controller_version }}</a></td>
                        <td>{{ count(game_controller.game_controller_assets) }}</td>
                        <td>{{ game_controller.getGameControllerAssetsFileSize()|filesize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>