<div class="container pt-m">

    {% include "account/blocks/breadcrumbs.twig" %}

    <div class="flex pt-l is-wrapping">
        <div class="column is-3 is-fullwidth-mobile">

            {% include "account/blocks/side-nav.twig" %}

        </div>
        <div class="column is-9 is-fullwidth-mobile">
            <div class="column is-12">
                <div class="sheet">
                    <div class="sheet-title">
                        <h2 class="title is-2">Host Urls</h2>
                        <p class="admin-desc">
                            Host urls are the play pages assigned to an organization.
                        </p>
                    </div>
                    <div class="sheet-content p-l">

                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align: left;" class="pl-0">Name</th>
                                <th>Url</th>
                                <th class="" >Redirect Url</th>
                                <th class="align-center">Live / Production</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for host in hosts %}
                                <tr>
                                    <td class="align-left pl-0" style="vertical-align: top;">
                                        <a href="{{ develop_url }}/teams/{{ active_organization.slug }}/hosts/{{ host.slug }}">{% if host.display_name %}{{ host.display_name }}{% else %}Untitled{% endif %}</a>
                                    </td>
                                    <td>{{ host.url }}</td>

                                    <td>
                                        {{ host.alternate_url }}
                                    </td>
                                    <td class="align-center">
                                        {{ host.is_prod|bool|raw }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

