<p class="id_{{ field.name }}">
    {% if field.verbose_name %}
    <label for="id_{{ field.name }}"{% if field.label_style %}style="{{ field.label_style }}"{% endif %}>
        {{ field.verbose_name }}
    </label>
    {% endif %}
    {% if not field.inline %}<br/>{% endif %}
    <span class="select {% if class_names %}{{ class_names }}{% endif %}">
    <select id="id_{{ field.name }}" name="{{ field.name }}" >
    {% if not field.is_required %}
        <!-- <option value="">All</option> -->
    {% endif %}
    {% for option in field.options %}
        {% if option.id %}
            <option value="{{ option.id }}"{% if data[field.name] == option.id %} selected="selected"{% endif %} {% if class_names %}class="{{ class_names }}"{% endif %}>
                {% if option.display_name %}
                    {{ option.display_name }}
                {% else %}
                    {{ option.name }}
                {% endif %}
            </option>
        {% else %}
            <option value="{{ option[0] }}"{% if data[field.name] == option[0] %} selected="selected"{% endif %} {% if class_names %}class="{{ class_names }}"{% endif %}>
                {{ option[1] }}
            </option>
        {% endif %}
    {% endfor %}
    </select>
  </span>

</p>
{% if field.help_text %}
    <p class="helptext">
        {{ field.help_text|raw }}
    </p>
{% endif %}
